[submodule "submodules/Catch"]
   path = submodules/Catch
   url = https://github.com/philsquared/Catch.git
[submodule "submodules/boost/config"]
   path = submodules/boost/config
   url = https://github.com/boostorg/config.git
[submodule "submodules/boost/preprocessor"]
   path = submodules/boost/preprocessor
   url = https://github.com/boostorg/preprocessor.git
